/* =============================
   Fondo
   ============================= */
.rain-background {
  width: 100%;
  height: 100%;
  background: #000;
  background-image: radial-gradient(4px 100px at 0px 235px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 235px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 252px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 252px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 126px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 150px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 150px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 75px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 253px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 253px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 126.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 204px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 204px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 102px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 134px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 134px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 67px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 179px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 179px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 89.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 299px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 299px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 149.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 215px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 215px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 107.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 281px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 281px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 140.5px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 158px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 158px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 79px, #0f0 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 210px, #0f0, #0000),
    radial-gradient(4px 100px at 300px 210px, #0f0, #0000),
    radial-gradient(1.5px 1.5px at 150px 105px, #0f0 100%, #0000 150%);
  background-size:
    300px 235px,
    300px 235px,
    300px 235px,
    300px 252px,
    300px 252px,
    300px 252px,
    300px 150px,
    300px 150px,
    300px 150px,
    300px 253px,
    300px 253px,
    300px 253px,
    300px 204px,
    300px 204px,
    300px 204px,
    300px 134px,
    300px 134px,
    300px 134px,
    300px 179px,
    300px 179px,
    300px 179px,
    300px 299px,
    300px 299px,
    300px 299px,
    300px 215px,
    300px 215px,
    300px 215px,
    300px 281px,
    300px 281px,
    300px 281px,
    300px 158px,
    300px 158px,
    300px 158px,
    300px 210px,
    300px 210px,
    300px 210px;
  animation: hi 150s linear infinite;
}

@keyframes hi {
  0% {
    background-position:
      0px 220px,
      3px 220px,
      151.5px 337.5px,
      25px 24px,
      28px 24px,
      176.5px 150px,
      50px 16px,
      53px 16px,
      201.5px 91px,
      75px 224px,
      78px 224px,
      226.5px 350.5px,
      100px 19px,
      103px 19px,
      251.5px 121px,
      125px 120px,
      128px 120px,
      276.5px 187px,
      150px 31px,
      153px 31px,
      301.5px 120.5px,
      175px 235px,
      178px 235px,
      326.5px 384.5px,
      200px 121px,
      203px 121px,
      351.5px 228.5px,
      225px 224px,
      228px 224px,
      376.5px 364.5px,
      250px 26px,
      253px 26px,
      401.5px 105px,
      275px 75px,
      278px 75px,
      426.5px 180px;
  }
  to {
    background-position:
      0px 6800px,
      3px 6800px,
      151.5px 6917.5px,
      25px 13632px,
      28px 13632px,
      176.5px 13758px,
      50px 5416px,
      53px 5416px,
      201.5px 5491px,
      75px 17175px,
      78px 17175px,
      226.5px 17301.5px,
      100px 5119px,
      103px 5119px,
      251.5px 5221px,
      125px 8428px,
      128px 8428px,
      276.5px 8495px,
      150px 9876px,
      153px 9876px,
      301.5px 9965.5px,
      175px 13391px,
      178px 13391px,
      326.5px 13540.5px,
      200px 14741px,
      203px 14741px,
      351.5px 14848.5px,
      225px 18770px,
      228px 18770px,
      376.5px 18910.5px,
      250px 5082px,
      253px 5082px,
      401.5px 5161px,
      275px 6375px,
      278px 6375px,
      426.5px 6480px;
  }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.main-content {
    flex: 1; /* Empuja el footer hacia abajo */
}

/* Contenedor principal */
.lobby-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    flex: 1; /* Hace que ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Botón de entrada */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background: #32de07;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #5271bf;
}

/* =============================
   Título
   ============================= */
.titulo {
  position: relative;
  top: -51px;
  color: #FFFFFF;
  font-family: fantasy;
}

.card {
  --bg-color: ;
  background-color: ;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", fantasy;
  font-weight: 100;
  font-size: 50px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 90px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}

.words {
  overflow: hidden;
  position: sticky;
}
.words::after {
  content: "";
  position: sticky;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: grid;
  height: 120%;
  padding-left: 25px;
  color: #00ff50;
  animation: spin_4991 6s infinite linear;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* =============================
   Footer
   ============================= */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

/* =============================
   Redes Sociales
   ============================= */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.example-2 {
    display: ;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    z-index: 9999;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    color: white;
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

/* Colores específicos para cada red social */
.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;

}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
}

.footer {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.radio-input {
  position: fixed;
  top: 20px;
  right: 20px;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  padding: 6px;
  border-radius: 8px;
  overflow: hidden;
  height: 94px;
}

.radio-input input {
  display: none;
}

.radio-input .label {
  width: 50px;
  height: 60px;
  background-color: #2a2a2a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px;
  border-top: 1px solid #383838;
  transition: all 0.1s linear;
  position: relative;
  z-index: 2;
}

.label .back-side {
  position: absolute;
  top: -10px;
  left: 0px;
  background-color: #2a2a2a;
  border-radius: 4px 4px 2px 2px;
  width: 100%;
  height: 14px;
  box-shadow:
    inset 0 5px 3px 1px rgba(0, 0, 0, 0.5),
    inset 0px -5px 2px 0px rgba(56, 163, 224, 0.1);
  transform: perspective(300px) rotateX(50deg);
  z-index: 1;
  opacity: 0;
  transition: all 0.1s linear;
}

.label:has(input[type="radio"]:checked) .back-side {
  opacity: 1;
}

.label:has(input[type="radio"]:checked) {
  transform: perspective(200px) rotateX(-18deg);
  transform-origin: 50% 40%;
  box-shadow: inset 0px -20px 15px 0px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #2589c362;
  margin-top: 6px;
  border-radius: 0 0 4px 4px;
}

.label .text {
  color: #34bf08;
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s linear;
  text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);
}

.label input[type="radio"]:checked + .text {
  color: #258ac3;
  text-shadow:
    0px 0px 8px rgb(37, 138, 195),
    1px 1px 2px rgb(0, 0, 0, 1);
}

.label .bottom-line {
  width: 100%;
  height: 4px;
  border-radius: 999px;
  background-color: #2a2a2a;
  box-shadow: 0 0 3px 0px rgb(19, 19, 19);
  border-top: 1px solid #383838;
  transition: all 0.1s linear;
}

.label:has(input[type="radio"]:checked) .bottom-line {
  background-color: #1a1a1a;
  border-top: 1px solid #258ac340;
}

/* Estilo del control de volumen */
.slider {
  position: fixed;
  top: 130px;
  right: 51px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre icono y slider */
}

/* Icono del volumen */
.slider .volume {
    width: 15px;
    height: 15px;
    color: white;
}

/* Barra de volumen */
.slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 120px; /* Ajusta el tamaño de la barra */
    height: 6px;
    background: rgb(82, 82, 82);
    border-radius: 5px;
    cursor: pointer;
}

/* Personalización del thumb (punto deslizante) */
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Aumenta el grosor de la barra al hacer hover */
.slider:hover input[type="range"] {
    height: 8px;
}

.lang-btn {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: 50px;
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#btn-es {
    background-image: url('images/esp.png');
}

#btn-en {
    background-image: url('images/eng.png');
}

#btn-fr {
    background-image: url('images/fr.png');
}

.language {
    position: absolute;
    display: flex;
    justify-content: flex-end; /* Mueve los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
    padding-right: 20px; /* Ajusta según necesites */
    right: 40px;
    top: 40px;
}
